<div>
  <h2>What our students say</h2>
  <p>
    Hear from our students about their learning journey with us, as they share
    their experiences, progress, and the transformative impact.
  </p>
</div>

<ul>
  <li>
    <article>
      <div>
        <img src="" alt="Anna" width="50" height="50" />
        <div>
          <span>Anna</span>
          <span>Student</span>
        </div>
      </div>
      <p>
        My experience at the language school has been nothing short of amazing.
        The teachers are dedicated and the learning environment is stimulating.
        I feel more confident in my English skills.
      </p>
    </article>
  </li>

  <li>
    <article>
      <div>
        <img src="" alt="Mykhailo" width="50" height="50" />
        <div>
          <span>Mykhailo</span>
          <span>Student</span>
        </div>
      </div>
      <p>
        The school offers a great balance of language theory and practical
        exercises. The personalized feedback from the teachers has helped me
        improve my weak areas.
      </p>
    </article>
  </li>

  <li>
    <article>
      <div>
        <img src="" alt="Victoria" width="50" height="50" />
        <div>
          <span>Victoria</span>
          <span>Student</span>
        </div>
      </div>
      <p>
        I love the dynamic and interactive teaching methods used here. It's a
        great place to learn English in a fun and effective way. I have
        definitely seen a big improvement in my language skills.
      </p>
    </article>
  </li>
</ul>
